/* Asosiy uslublar */

.serviceParent {
    margin: 0;
}

.serviceParent .container {
    display: flex;
    flex-direction: column;
}

.service {
    margin: auto;
    max-width: 1440px;
    width: 100%;
}

.serviceTitle {
    text-transform: capitalize;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #020c31;
    font-family: Unbounded;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    margin-bottom: 16px;
}

.serviceText {
    max-width: 335px;
    color: #666;
    font-family: sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.serviceCard {
    width: 100%;
    padding: 20px 10px;
    border: 2.3px solid #020c315d;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
}

.serviceCardImg {
    max-width: 300px;
    max-height: 300px;
}

.serviceCardMain {
    max-width: 900px;
}

.serviceCardMainTitle {
    color: #020c31;
    font-family: Unbounded;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0 10px;
}

.serviceCardMainText {
    color: #495157;
    font-family: Unbounded;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 20px;
    padding: 0 10px;
}

/* service type */

.serviceTypeParent {
    margin: auto;
}

.serviceTypeParent .container {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    display: grid;
}

.serviceTypeCard {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 443px;
    width: 90%;
    height: 450px;
    border-radius: 12px;
    background: #f3f6f6;
    margin-top: 16px;
    padding: 20px;
    justify-content: space-between;
}

.serviceTypeCardTitle {
    text-transform: uppercase;
    color: #020c31;
    font-family: Unbounded;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.serviceTypeCardText {
    color: #495157;
    font-family: Unbounded;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 20px;
}

.serviceTypeCardBtn {
    color: #fff;
    border-radius: 25px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 190px;
    height: 50px;
    border: none;
    background: rgb(33, 55, 251);
    color: #fff;
    overflow: hidden;
}

.serviceTypeCardBtn:hover {
    background: linear-gradient(0deg, rgb(102, 101, 181) 0%, rgb(52, 81, 159) 100%);
}

.serviceTypeCardimg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 330px;
    left: 280px;
}

.serviceTypeCardParent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* Media Queries */

/* 1280px dan katta ekranlar uchun */
@media screen and (min-width: 1280px) {
    .serviceTypeCardParent {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* 1024px yoki kichikroq ekranlar uchun */
@media screen and (max-width: 1024px) {
    .serviceTypeCardParent {
        grid-template-columns: repeat(2, 1fr);
    }
    .serviceTypeCardimg {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: absolute;
        top: 330px;
        left: 250px;
    }
    
}

/* 800px yoki kichikroq ekranlar uchun */
@media screen and (max-width: 800px) {
    .serviceTypeCardParent {
        grid-template-columns: 1fr;
    }

    .serviceParent .container {
        max-width: 800px;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .serviceTypeCardParent{
        gap: 20px;
    }
    .service {
        margin: auto;
        width: 100%;
        max-width: 90%;
    }

    .serviceCard {
        display: flex;
        flex-direction: column;
        max-width: 760px;
        margin: auto;
        align-items: center;
        text-align: center;
    }

    .serviceCardImg {
        max-width: 150px;
        max-height: 150px;
    }

    .serviceTypeCardimg {
        top: 200px;
        left: 150px;
        width: 60px;
        height: 60px;
    }
    .serviceTypeCard {
        position: relative;
        margin:auto;
    }

    .serviceTypeCardimg {
        top: 55px;
        left: 120px;
        width: 100px;
        height: 100px;
    }
}

/* 600px yoki kichikroq ekranlar uchun */
@media screen and (max-width: 600px) {
    .serviceTitle {
        font-size: 40px;
        line-height: 48px;
    }

    .serviceText {
        font-size: 16px;
        line-height: 22px;
    }

    .serviceCard {
        max-width: 500px;
    }

    .serviceCardImg {
        max-width: 150px;
        max-height: 150px;
    }
    .serviceTypeCard {
        position: relative;
    }

    .serviceTypeCardimg {
        top: 60px;
        left: 120px;
        width: 80px;
        height: 80px;
    }
}

/* 480px yoki kichikroq ekranlar uchun */
@media screen and (max-width: 480px) {
    .serviceTypeCardParent {
        grid-template-columns: 1fr;
        max-width: 350px;
        margin: auto;
        gap: 16px;
    }

    .serviceTypeCard {
        position: relative;
    }

    .serviceTypeCardimg {
        top: 55px;
        left: 120px;
        width: 70px;
        height: 70px;
    }

    .serviceTitle {
        font-size: 32px;
        line-height: 40px;
    }

    .serviceText {
        max-width: 300px;
        font-size: 14px;
        line-height: 20px;
    }

    .serviceCard {
        max-width: 300px;
        align-items: center;
        text-align: center;
    }

    .serviceCardImg {
        max-width: 100px;
        max-height: 100px;
    }
}

/* 365px yoki kichikroq ekranlar uchun */
@media screen and (max-width: 365px) {
    .serviceTypeCardParent {
        grid-template-columns: 1fr;
        max-width: 320px;
        width: 90%;
        margin: auto;
        gap: 16px;
    }

    .serviceTypeCard {
        max-width: 320px;
        width: 90%;
        margin: auto;
        position: relative;
        height: auto;
    }

    .serviceTypeCardimg {
        top: 50px;
        left: 120px;
        width: 35px;
        height: 35px;
    }
    .serviceTypeCardTitle{
        font-size: 24px;
    }

    .serviceTitle {
        font-size: 28px;
        line-height: 36px;
    }

    .serviceText {
        max-width: 260px;
        font-size: 12px;
        line-height: 18px;
    }
    .serviceCardParent{ 
        gap: 10px;
    }

    .serviceCard {
        max-width: 280px;
        align-items: center;
        text-align: center;
        padding: 10px;
        margin: 5px;
    }

    .serviceCardImg {
        max-width: 80px;
        max-height: 80px;
    }
    .serviceCardMainTitle{
        max-width: 270px;    
        margin: auto;  
        font-size: 20px;

    }
    .serviceCardMainText{
        font-size: 12px;  
        max-width: 270px;    
        margin: auto;  
    }
}
