.contactParent {
    display: flex;
    flex-direction: row;
    max-width: 1440px;
    margin: auto;
    width: 95%;
    padding: 0 30px;
}

.contactParent .container {
    max-width: 1440px;
    width: 100%;
    height: 550px;
    border-radius: 12px;
    background: radial-gradient(333.17% 80.94% at 51.32% 69.21%, #3DA0FC 0%, rgba(2, 227, 214, .2) 100%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    padding: 0 24px;
}

.contact {
    max-width: 456px;
    min-height: 385px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.contactTitle {
    max-width: 456px;
    width: 90%;
    text-transform: capitalize;
    color: #242825;
    font-family: Unbounded;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}

.contactInput {
    display: flex;
    align-items: center;
    outline: none;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 8px;
    background: #F2F2F2;
    padding: 0 20px;
    color: gray;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-top: 30px;
    color: #242825;
}

.contactBtn {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 8px;
    background: #242825;
    color: #fff;
    font-family: Unbounded;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
    margin-top: 50px;
}

.contactBtn:hover {
    background: linear-gradient(0deg, rgb(101, 101, 127) 0%, rgb(55, 59, 71) 100%);
}

.contactImg {
    width: 461px;
    height: 437px;
}

/* 980px va kichikroq ekranlar uchun */
@media screen and (max-width: 980px) {
    .contactParent {
        flex-direction: column;
        align-items: center;
        padding: 0 15px;
    }

    .contactParent .container {
        height: auto;
        padding: 20px;
    }

    .contactImg {
        display: none;
    }
}

/* 768px va kichikroq ekranlar uchun */
@media screen and (max-width: 768px) {
    .contactParent {
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
    }

    .contactParent .container {
        height: auto;
        padding: 20px;
    }

    .contactImg {
        display: none;
    }

    .contact {
        max-width: 100%;
    }
}

/* 600px va kichikroq ekranlar uchun */
@media screen and (max-width: 600px) {
    .contactParent {
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
    }

    .contactParent .container {
        height: auto;
        padding: 20px;
    }

    .contactImg {
        display: none;
    }

    .contact {
        max-width: 100%;
    }
}

/* 480px va kichikroq ekranlar uchun */
@media screen and (max-width: 480px) {
    .contactParent {
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
    }

    .contactParent .container {
        height: auto;
        padding: 20px;
    }
    .contactTitle{
        max-width: 460px;
        width: 90%;
        font-size: 24px;
        line-height: 36px;
    }
    .contactImg {
        display: none;
    }

    .contact {
        max-width: 100%;
    }
}

/* 375px va kichikroq ekranlar uchun */
@media screen and (max-width: 375px) {
    .contactParent {
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
    }

    .contactParent .container {
        height: auto;
        padding: 20px;
    }

    .contactImg {
        display: none;
    }

    .contact {
        max-width: 100%;
    }

    .contactTitle {
        font-size: 22px;
        line-height: 36px;
    }

    .contactInput {
        height: 45px;
    }

    .contactBtn {
        height: 45px;
        margin-top: 30px;
    }
}

.modal {
    display: none; /* Modal default yopiq */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px; /* Maximum width for the modal */
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Box shadow for better look */
    animation-name: modalopen;
    animation-duration: 0.4s;
  }
  
  /* Add Animation */
  @keyframes modalopen {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  